<div class="topChart shadow d-flex flex-column align-items-center justify-content-sm-start rounded">
        <h4>Лучшие за этот месяц</h4>
        <div class="mainSource d-flex align-items-end">
            <div class="chartBlock thirdPlace" data-tooltip="Имя Фамилия">
                <img src="/assets/images/icon-user-default.png" class="guestPhoto">
                <p class="guestRank">9.00</p>
            </div>
            <div class="chartBlock firstPlace" data-tooltip="Имя Фамилия">
                <img src="/assets/images/icon-user-default.png" class="guestPhoto">
                <p class="guestRank">9.99</p>
            </div>
            <div class="chartBlock secondPlace" data-tooltip="Имя Фамилия">
                <img src="/assets/images/icon-user-default.png" class="guestPhoto">
                <p class="guestRank">9.35</p>
            </div>
        </div>
    </div>