
  <div class="userCard shadow rounded align-items-center justify-content-sm-around">
    <h2>#</h2>
    <img src="/assets/images/icon-user-default.png" class="userPhoto">
    <div class="userInfo">
      <ul class="list userList">
        <li class="rounded">Публикации</li>
        <li class="rounded">Комментарии</li>
      </ul>
      <ul class="list userList">
        <li class="rounded">Лайки</li>
        <li class="rounded">Очки достижений</li>
      </ul>
    </div>
    <i class="fa fa-chevron-right" aria-hidden="true"></i>
  </div>