<div class="scrollbar userCards shadow d-flex align-items-center rounded" id="style-1">
    <ul>
        <app-user-achievment-item></app-user-achievment-item>
        <app-user-achievment-item></app-user-achievment-item>
        <app-user-achievment-item></app-user-achievment-item>
        <app-user-achievment-item></app-user-achievment-item>
        <app-user-achievment-item></app-user-achievment-item>
        <app-user-achievment-item></app-user-achievment-item>
        <app-user-achievment-item></app-user-achievment-item>
        <app-user-achievment-item></app-user-achievment-item>
    </ul>
</div>