<div class="d-flex align-items-center justify-content-center errorPage">
        <div class="d-flex align-items-center justify-content-center" id="bgContainer">
                <img src="assets/images/cat_and_flag.png" class="bgLogo-image w-100 h-75" >
        </div>
        <div class="d-flex align-items-center justify-content-center flex-column">
                <p class="font-weight-bold text">404</p>
                <p class="sm-text">Мы не можем найти данную страницу</p>
        </div>
       
        
        
</div>