.errorPage {
    width: 100vw;
    height: 100vh;
    background-color: var(--white-color);
}

.text{
    font-size: 100pt;
    color:var(--black-color);
}

.sm-text{
    font-size: 40px;
    color:var(--black-color);
}

