<div class="content_container d-flex justify-content-center">
    <main class="col-8 mr-2 d-flex justify-content-center align-items-center">
        <div class="personalInfo shadow rounded">
            <div class="personalInfo__leftSide">
                <div style="display: flex; flex-direction:column; justify-content:flex-start; align-items: center;">
                    <p class="personalRate">Рейтинг: 9,54</p>
                    <progress value="95.4" max="100"></progress>
                </div>
                <img src="/assets/images/icon-user-default.png" class="personalLogo">
                <p class="userName">Пользователь1</p>
            </div>
            <div class="personalInfo__rightSide">
                <ul class="list">
                    <li class="rounded">Публикаций за месяц</li>
                    <li class="rounded">Комментариев за месяц</li>
                    <li class="rounded">Лайков за месяц</li>
                    <li class="rounded">Очки достижений</li>
                </ul>
            </div>
        </div>
        <div class="usersInfo rounded">
            <app-top-chart class="w-100"></app-top-chart>
            <app-show-all-users class="w-100"></app-show-all-users>

            <div class="w-100">
                <app-user-list class="w-100"></app-user-list>
                <app-user-list class="w-100"></app-user-list>
                <app-user-list class="w-100"></app-user-list>
                <app-user-list class="w-100"></app-user-list>
                <app-user-list class="w-100"></app-user-list>
                <app-user-list class="w-100"></app-user-list>
                <app-user-list class="w-100"></app-user-list>
                <app-user-list class="w-100"></app-user-list>
                <app-user-list class="w-100"></app-user-list>
                <app-user-list class="w-100"></app-user-list>
                <app-user-list class="w-100"></app-user-list>
                <app-user-list class="w-100"></app-user-list>
            </div>
            </div>
        <!--Button "go to top"-->
    </main>
</div>